<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azf-dotnet-triggerfunctions-anb7bcdch0akcnfb.centralindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0ef1489d-8bc9-4a16-88bd-e4557a230576/resourceGroups/rg-CICD-Learning/providers/Microsoft.Web/sites/azf-dotnet-triggerfunctions</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://azf-dotnet-triggerfunctions-anb7bcdch0akcnfb.scm.centralindia-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>